#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: "Karla", sans-serif;
}

.header {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* min-height: 100px; */
  max-height: 100px;
  width: 100%;
  background: rgb(103, 34, 128);
  background: linear-gradient(90deg, rgba(103, 34, 128, 1) 0%, rgba(166, 38, 211, 1) 100%);
  padding: 1.5rem;
  color: white;
}

.header-title {
  font-size: 25px;
}

.header-project {
  font-size: 15px;
  font-weight: 600;
}

.left-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-icon {
  display: flex;
  height: 45px;
  width: auto;
  padding: 0rem 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-wrap: wrap;
}

.form {
  display: grid;
  grid-template: 60px 40px / 1fr 1fr;
  gap: 20px;
  min-width: 500px;
  margin: auto;

  /* display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px; */
}

.form-btn {
  grid-column: 1 / -1;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  min-height: 40px;
  width: 100%;
}

.form-label {
  text-align: start;
}

.image-format {
  margin-top: 2rem;
  max-width: 80vw;
}